body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: #000000; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.app-container {
  display: flex;
  flex-direction: column;
}

html {
  scroll-padding-top: 100px; /* Adjust to match or slightly exceed your header height */
}
